@font-face {
  font-family: 'BebasNeue';
  src: url('~@/assets/fonts/BebasNeue/BebasNeue-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica-Medium';
  src: url('~@/assets/fonts/Geologica/static/Geologica-Medium.ttf') format('ttf');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica-Light';
  src: url('~@/assets/fonts/Geologica/static/Geologica-Light.ttf') format('ttf');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica-Regular';
  src: url('~@/assets/fonts/Geologica/static/Geologica-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
